<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="htmlhead">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"></link>

    <title th:text="${title}">(title)</title>

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"></link>
  </head>

  <body>
    <nav th:fragment="navbar" class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
      <a class="navbar-brand" th:href="@{/}">Bootiful CAS client</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link"
             th:classappend="${#httpServletRequest.requestURI} == '/' ? 'active'"
             th:href="@{/}">
            Home <span class="sr-only">(current)</span>
          </a>
          <a class="nav-item nav-link"
             th:classappend="${#httpServletRequest.requestURI} == '/protected' ? 'active'"
             th:href="@{/protected}">
            Protected
          </a>
          <a th:unless="${principal} == null" class="nav-item nav-link"
             th:href="${@mainController.casLogoutUrl}">
            Logout
          </a>
        </div>
      </div>
    </nav>


  </body>
</html>
